@charset "UTF-8";

#recoverForm {
    width: 37.5rem;
    margin: 0 auto;
    padding: 4rem;

    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: flex-start;
}

#recoverForm > .title
{
    align-self: flex-start;
    font-size: 2rem;
    font-weight: 300;
    margin-bottom: 1rem;
}

#recoverForm > .type-container
{
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
}

#recoverForm > .type-container > .type
{
    border: 0.0625rem solid #222428;
    border-radius: 0.25rem;
    cursor: pointer;
    padding: 1.25rem 1.5rem;
    user-select: none;

    align-items: stretch;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    justify-content: flex-start;
}

#recoverForm > .type-container > .type:hover
{
    border-color: #323438;
}

#recoverForm > .type-container > .type:has(> input:checked)
{
    border-color: #148f77;
    outline: 0.0625rem solid #148f77;
}

#recoverForm > .type-container > .type > input
{
    display: none;
}

#recoverForm > .type-container > .type > .title
{
    font-size: 1.125rem;
}

#recoverForm > .type-container > .type > .description
{
    color: #a2a4a8;
    font-size: 0.85rem;
    text-align: justify;
}

#recoverForm > .message
{
    border: 0.0625rem solid #222428;
    color: #a2a4a8;
    padding: 2rem;
    text-align: center;
}

#recoverForm > .type-container:has(> .type > input:checked) + .message
{
    display: none;
}

#recoverForm > .table
{
    border-spacing: 1rem 0.5rem;
    display: none;
    margin: -0.5rem -1rem;
}

#recoverForm > .type-container:has( .type > input[value="email"]:checked) ~ .table.email,
#recoverForm > .type-container:has( .type > input[value="password"]:checked) ~ .table.password
{
    display: table;
}

#recoverForm > .table > tbody > tr > th{
    font: inherit;
    text-align: right;
    white-space: nowrap;
}

#recoverForm > .table > tbody > tr > td
{
    width: 100%;
}

#recoverForm > .table > tbody > tr > td > .row
{
    position: relative;

    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 0.625rem;
    justify-content: flex-start;
}

#recoverForm > .table . tbody > tr > td > .row + .row
{
    margin-top: 0.375rem;
}

#recoverForm > .table > tbody > tr > td > .row > *
{
    flex-grow: 1;
    flex-shrink: 1;
}

#recoverForm > .table > tbody > tr > td > .row > .warning
{
    top: calc(100% + 0.25rem);
    right: 0;
    background-color: #e74c3c;
    border-radius: 0.25rem;
    font-size: 0.75rem;
    opacity: 0;
    padding: 0.125rem 0.25rem;
    pointer-events: none;
    position: absolute;
    transition-duration: 250ms;
    transition-property: top, opacity;
    transition-timing-function: ease;
}

#recoverForm > .table > tbody > tr > td > .row > .warning::before
{
    top: 0;
    right: 1rem;
    width: 0.5rem;
    height: 0.5rem;
    content: '';
    background-color: inherit;
    position: absolute;
    transform: rotateZ(45deg) translateY(-50%);
    z-index: -1;
}

#recoverForm > .table > tbody > tr > td > .row > .-object-field.-invalid + .warning
{
    top: calc(100% + 0.375rem);
    opacity: 1;
}

#recoverForm > .button-container
{
    align-items: stretch;
    display: flex;
    flex-direction: row;
    gap: 0.75rem;
    justify-content: flex-end;
}

#recoverForm > .button-container > button[type="submit"]
{
    display: none;
}

#recoverForm > .type-container:has(> .type > input:checked) ~ .button-container > button[type="submit"]
{
    display: flex;
}