<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>RM - 마라톤 페이지</title>
    <link rel="stylesheet" href="/assets/styles/common.min.css">
    <link rel="stylesheet" href="/marathon/assets/styles/marathon.min.css">
    <script defer src="/marathon/assets/scripts/marathon.js"></script>
    <script defer src="/assets/scripts/book.js"></script>
</head>
<body>
    <form novalidate id="situationForm">
        <h1 class="---title">마라톤 진행상황</h1>
        <div class="wrapper">
            <div class="container info">
                <label class="--object-label">
                    <span class="---caption" th:text="${now}"></span>
                </label>
                <div class="-flex-stretch"></div>
                <div class="list">
                    <label class="--object-field item">
                        <span class="---caption">지금 선택된 책 목록</span>
                        <input class="--object-field" name="book" type="checkbox">
                    </label>
                    <label class="--object-field item">
                        <span class="---caption">지금 선택된 책 목록</span>
                        <input class="--object-field" name="book" type="checkbox">
                    </label>
                </div>
                <div class="-flex-stretch"></div>
                <span class="---row">
                    <button class="--object-button -color-red" name="giveUp" type="button">포기</button>
                    <button class="--object-button -color-blue" name="back" type="button">나가기</button>
                </span>
            </div>
            <div class="--object-area">
                <div class="---content">

                </div>
            </div>
        </div>
    </form>
</body>
</html>