@charset "UTF-8";

@use "sass:color";
@import "../_def";

.--object-check
{
  @include flex(row, center, flex-start, 0.375rem);
  cursor: pointer;
  user-select: none;

  > .---input
  {
    display: none;

    &:checked + .---box
    {
      background-color: #1abc9c;
      background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAz0lEQVR4nNWQMQrCQBBFg1YiiI3gNQSxshAEPYCVx/AetnaKhXggK0EsBLuA2jrzM/mymsgiRLKN4MLCFvP+f7NR9FcH4EBhB0k4DYZJNhR20iSlwFKSraAAha0c/LywZRAMcORaM/hMshmi3nRQrg5wXDRYBTgkWflQ3+bqAlsUNilskymu85A7OPH2PpKsF7XXBHb1hl1IW2Bx1myq7H/dVZVdgd083dh7z0t9mAg7Aru8TV42e2dYKiD6CBEYVNkrDfvraGI7TTgLhn9+HiuCAAzQTvmTAAAAAElFTkSuQmCC");
      border-color: #1abc9c;
    }
  }

  > .---box
  {
    width: 0.9375rem;
    height: 0.9375rem;
    background-color: #ffffff;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 80%;
    border: 0.0625rem solid #c5c9cc;
    border-radius: 0.25rem;
  }

  > .---caption
  {
    flex-grow: 1;
    flex-shrink: 1;
    text-align: justify;
  }
}