<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>로그인 - SUB</title>
    <link href="/assets/styles/common.css" rel="stylesheet">
    <link href="/user/assets/styles/login.css" rel="stylesheet">
    <script defer src="/assets/scripts/common.js"></script>
    <script defer src="/assets/scripts/dialog.js"></script>
    <script defer src="/user/assets/scripts/login.js"></script>
</head>
<body>
    <form novalidate id="loginForm">
        <h1 class="title">로그인</h1>
        <table class="table">
            <tbody>
            <tr>
                <th scope="row">
                    <label class="caption" for="loginEmail">이메일</label>
                </th>
                <td>
                    <div class="row">
                        <input required autocomplete="off" class="-object-field" id="loginEmail" maxlength="50" minlength="8" name="email" spellcheck="false" type="email">
                    </div>
                </td>
            </tr>
            <tr>
                <th scope="row">
                    <label class="caption" for="loginPassword">비밀번호</label>
                </th>
                <td>
                    <div class="row">
                        <input required autocomplete="off" class="-object-field" id="loginPassword" maxlength="50" minlength="8" name="password" spellcheck="false" type="password">
                    </div>
                </td>
            </tr>
            <tr>
                <th role="none"></th>
                <td>
                    <div class="row">
                        <label class="-object-check">
                            <input class="--input" name="remember" type="checkbox">
                            <span class="--box"></span>
                            <span class="--caption">이메일을 기억합니다.</span>
                        </label>
                    </div>
                </td>
            </tr>
            <tr>
                <th role="none"></th>
                <td>
                    <div class="row">
                        <button class="-object-button --color-green" type="submit">로그인</button>
                    </div>
                </td>
            </tr>
            <tr>
                <th role="none"></th>
                <td>
                    <ul class="menu">
                        <li class="item">
                            아직 계정이 없으신가요?
                            <a class="link" href="/user/register">회원가입</a>
                        </li>
                        <li class="item">
                            계정 정보를 분실하셨나요?
                            <a class="link" href="/user/recover">계정 찾기</a>
                        </li>
                    </ul>
                </td>
            </tr>
            </tbody>
        </table>
    </form>
</body>
</html>