<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>계정 찾기 - SUB</title>
    <link href="/assets/styles/common.css" rel="stylesheet">
    <link href="/user/assets/styles/recover.css" rel="stylesheet">
    <script src="/assets/scripts/common.js"></script>
    <script defer src="/assets/scripts/dialog.js"></script>
    <script defer src="/user/assets/scripts/recover.js"></script>
</head>
<body>
<form novalidate id="recoverForm">
    <h1 class="title">계정 찾기</h1>
    <div class="type-container">
        <label class="type">
            <input name="type" type="radio" value="email">
            <span class="title">이메일 찾기</span>
            <span class="description">회원가입시 사용한 닉네임으로 이메일을 찾을수 있습니다.</span>
        </label>
        <label class="type">
            <input name="type" type="radio" value="password">
            <span class="title">비밀번호 재설정</span>
            <span class="description">회원가입시 사용한 이메일과 닉네임으로 비밀번호를 재설정할 수 있습니다.</span>
        </label>
    </div>
    <div class="message">계정 찾기 유형을 선택해 주세요.</div>
    <table class="table email">
        <tbody>
        <tr>
            <th scope="row">
                <label class="caption" for="emailRecoverNickname">닉네임</label>
            </th>
            <td>
                <div class="row">
                    <input required autocomplete="off" class="-object-field" id="emailRecoverNickname"
                           spellcheck="false" type="text">
                    <span class="warning">닉네임을 입력해 주세요.</span>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
    <table class="table password">
        <tbody>
        <tr>
            <th scope="row">
                <label for="passwordRecoverEmail">이메일</label>
            </th>
            <td>
                <div class="row">
                    <input required autocomplete="off" class="-object-field" id="passwordRecoverEmail" maxlength="50"
                           minlength="8" name="passwordRecoverEmail" spellcheck="false" type="email">
                    <span class="warning">이메일을 입력해 주세요.</span>
                </div>
            </td>
        </tr>
        <tr>
            <th scope="row">
                <label for="passwordRecoverNickname">닉네임</label>
            </th>
            <td>
                <div class="row">
                    <input required autocomplete="off" class="-object-field" id="passwordRecoverNickname" maxlength="10"
                           minlength="2" name="passwordRecoverNickname" spellcheck="false" type="text">
                    <span class="warning">닉네임을 입력해 주세요.</span>
                </div>
            </td>
        </tr>
        <tr>
            <th scope="row">
                <label class="caption" for="passwordRecoverPassword">비밀번호</label>
            </th>
            <td>
                <div class="row">
                    <input required autocomplete="off" class="-object-field" id="passwordRecoverPassword" maxlength="50"
                           minlength="8" name="passwordRecoverPassword" spellcheck="false" type="password">
                    <span class="warning">비밀번호를 입력해 주세요.</span>
                </div>
                <div class="row">
                    <input required autocomplete="off" class="-object-field" id="passwordRecoverPasswordCheck"
                           maxlength="50"
                           minlength="8" name="passwordRecoverPasswordCheck" spellcheck="false" type="password">
                    <span class="warning">비밀번호를 한 번 더 입력해 주세요.</span>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
    <div class="button-container">
        <a class="-object-button --color-gray" href="/user/login">돌아가기</a>
        <button class="-object-button --color-green" type="submit">찾기</button>
    </div>
</form>
</body>
</html>